@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --width: 60%;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #202847;
  font-family: 'Montserrat', sans-serif;
}
form {
  background-color: rgba(84, 100, 132, 0.2);
  height: 50vh;
  max-width: var(--width);
  margin: 40px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data {
  color: white;
  background-color: rgba(84, 100, 132, 0.2);
  max-width: var(--width);
  margin: 40px auto;
  border-radius: 20px;
}
.data > div {
  display: flex;
  padding: 10px 25px;
}
.data > div > div {
  flex: 1;
}
.data > div > div:first-child {
  color: #f572b0;
}
input {
  padding: 10px;
  color: white;
  border: 1px solid #202847;
  background-color: rgba(84, 100, 132, 0.2);
  margin-bottom: 20px;
}
button {
  background-color: #f572b0;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 5px;
}
label {
  display: inline-block;
  color: #8c9cc3;
  min-width: 120px;
}

@media screen and (max-width: 768px) {
  :root {
    --width: 90%;
  }
  .data > div {
    flex-direction: column;
  }
}
