
.box {
  /*padding: 8px;*/
  border: 1px solid rgb(238,62,128);
  background-color: #efefef;
  text-align: left;
  font-size: 15px;
  box-sizing: border-box;
}

.main__box {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  min-width: 220px;
  max-width: 640px;
  padding: 28px;
}

.input__box {
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 8px;
}

label {
  display: block;
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.0px;
  text-transform: uppercase;
}


.input {
  width: 100%;
  margin: 0px;
  margin-top: 7px;
  padding: 4px;
  border: 1px solid rgb(238,62,128);
  background-color: transparent;
  font-size: 15px;
  box-sizing: border-box;
}

.text-input {
  border-width: 0px 0px 1px 0px;
}

.select-input {
  outline: none;
}

.radio-input {
  margin: 7px;
  margin-bottom: 0px;
  padding: 4px;
  box-sizing: border-box;
}

.radio-text {
  /*font-size: 15px;*/
}


.button {
  padding: 7px;
  /*border-radius: 8px;*/
}

.pink {
  color: rgb(238,62,128);
}


* {
  /*border: 1px solid;*/
}




