body, html {
    background: #f6f5f7 !important;
}

.container {
    width: 760px;
    min-height: 480px;
    background: white;
    display: flex;
    margin: auto;
    margin-top: 10%;
}

.details {
    width: 380px;
    height: 600px;
    justify-content: center;
    align-items: center;
    color: black;
text-align: center;
    background-color: #7d7dd5;
    text-transform: uppercase;
}


.login,.register {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.entries{
    margin: 20px;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

input {
    width: 290px;
    height: 40px;
    border: none;
    background: #e9e9e9;
    border-radius: 4px;
}
select{
    width: 290px;
    height: 40px;
    border: none;
    background: #e9e9e9;
    border-radius: 4px;
}
button{
    width: 120px;
    height: 42px;
    border-radius: 5px;
    background-color: #7d7dd5;
    font-size: 20px;
    font-weight: 800;
}

.output{
    /*width: 100%;*/
    height: 500px;
    margin: 10px;
    padding: 10px;
    justify-content: center;

border-radius: 10px;
    background-color: #e9e9e9;

}
