body, html {
  background: #91a6b4 !important;
}

.container {
  width: 480px;
  min-height: 500px;
  background: #fef6ef;
  display: flex;
  margin: auto;
  margin-top: 10%;
}

.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  border-color: #0066aa;
  border-width: .30em;
  border-style: outset;
  text-align: center;
}

h4 {
  text-align: left;
  color: #0033aa;
}

span {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px #323232;
  height: 300px;
  width: 350px;
  padding: 1em;
  border: 1px solid #4e4efa;
  border-radius: 5px;
  background-color: #afafaf;
}

input, select {
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 8px;
}

textarea {
  border-radius: 8px;
}

button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background-color: #9dffd0;
  color: #99322b;
  font-size: 20px;
  font-weight: 600;
  margin-left: 75%;
  box-shadow: 10px 10px 10px #548b54;
}

.entries, .selection {
  text-align: center;
  color: #91a6b4;
  margin: 40px;
  background: #483d8b;
  border-radius: 10px;
}

#details {
  color: #99322b;
  flex-direction: column;
}

